/* HEADER */
header {
    background-color: var(--corPrincipal);
    /* height: 80px; */
    display: flex;
}

.container_geral {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.me-auto {
    display: flex;
    width: 100%;
    /* background-color: blue; */
    justify-content: space-between;
    align-items: center;
}

.icone_home {
    width: 50px;
    cursor: pointer;
    color: black;
}

.logo_header {
    height: 60px;
    cursor: pointer;
}

.busca {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.busca svg {
    width: 26px;
    position: absolute;
    top: 5px;
    left: 10px;
}

.input-pesquisa {
    height: 36px;
    width: 100%;
    border-radius: 10px;
    padding-left: 40px;
}

.botoes_direita {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: .5rem;
}

.add {
    color: #000000;
    cursor: pointer;
    width: 25px;
}

.logout {
    color: #000000;
    cursor: pointer;
    width: 40px;
    background-color: var(--corPrincipal);
}

@media screen and (max-width: 768px) {
    .me-auto {
        align-items: end;
    }
    .logo_header {
        margin: 1rem 0 1rem 0;
    }
    .icone_home{
        margin-bottom: 5px;
    }
    .botoes_direita{
        margin-bottom: 1rem;
    }
}